<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>QTticket - Support Desk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/main.css' %}">
  </head>
  <body>
    {% include 'navbar.html' %} 
    
    {% if messages %}
      {% for message in messages %}
        <ul class="message-container">
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            <strong>{{message.tags}}!</strong> 
            {{ message }}
          </li>
        </ul>
      {% endfor %}
    {% endif %}

    {% block content %} 
    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
