/* font import */
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&display=swap");

/* colour variables */
:root {
  --primary-colour: #003e50;
  --secondary-colour: #27edb5;
  --secondary-colour-hover: #27edb59a;
  --accent-colour: #7f007d;
  --paragraph-colour: #b2bdbd;
  --input-colour: #00323f;
}

/* app styles */
* {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Ubuntu, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-size: inherit;
}

html {
  font-size: 50%;
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 65%;
  }
}

@media only screen and (min-width: 2100px) {
  html {
    font-size: 75%;
  }
}

body {
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--secondary-colour);
  background-color: white;
  min-height: 100vh;
}

a {
  display: inline-block;
  color: var(--secondary-colour);
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

a:hover {
  color: var(--secondary-colour-hover);
  text-decoration: none;
}

p {
  color: var(--paragraph-colour);
}

img {
  width: 100%;
}

/* messages  */
.message-container {
  padding: 1.5rem;
  color: white;
  list-style: none;
}

.error {
  padding: 1.5rem;
  background-color: #f44336;
  border-radius: 5px;
}

.warning {
  padding: 1.5rem;
  background-color: #f8cc52;
  border-radius: 5px;
}

.success {
  padding: 1.5rem;
  background-color: #36f475;
  border-radius: 5px;
}

/* common styles */
.container {
  max-width: 130rem;
  width: 90%;
  margin: auto;
}

.create-button {
  background-color: var(--secondary-colour);
  color: var(--primary-colour);
  border: none;
  align-items: center;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}

.create-button:hover {
  background-color: var(--secondary-colour-hover);
}

.avatar {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid var(--secondary-colour);
}

.avatar img {
  display: block;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.avatar.avatar--small img {
  width: 3rem;
  height: 3rem;
}

.avatar.avatar--large img {
  width: 8rem;
  height: 8rem;
}

.dropdown-menu {
  z-index: 111;
  position: absolute;
  top: 7.5rem;
  right: 0.5rem;
  background: var(--secondary-colour);
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: none;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu a {
  padding: 1.5rem 4rem;
  display: block;
  color: var(--primary-colour) !important;
  font-weight: 500;
  font-size: 1.5rem;
  transition: all 0.4s ease-in-out;
}

.dropdown-menu a:hover {
  background-color: var(--secondary-colour-hover);
}

.dropdown-menu > a:not(:last-child) {
  border-bottom: 1px solid var(--primary-colour);
}

/* navbar */

.header {
  padding: 1.5rem;
  background-color: var(--primary-colour);
}

.header > .container {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.header__user {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header__logo > h1 {
  font-family: "Alegreya Sans";
  letter-spacing: 1px;
  font-size: 4rem;
  color: var(--secondary-colour);
}

.header__search > label {
  background-color: var(--input-colour);
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 4rem;
}

.header__search .create-button {
  border-radius: 4rem;
}

.header__search svg {
  fill: white;
  margin: auto;
  display: block;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

.header__search input {
  width: 18vw;
  background: transparent;
  border: none;
  outline: none;
  color: white;
}

@media screen and (max-width: 800px) {
  .header__search input {
    width: 20rem;
  }

  .header > .container {
    gap: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .header__search {
    display: none;
  }
}

.header__menu {
  margin-left: auto;
  position: relative;
}

.header__menu a {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
}

.header__menu svg {
  width: 1.5rem;
  height: 1.5rem;
}

.dropdown-button {
  background: transparent;
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: flex;
}

.dropdown-button svg {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 7.5rem;
  height: 7.5rem;
}

.active svg {
  transform: rotate(90deg);
}

/* dropdown */

.dropdown-button path {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dropdown-button path:nth-child(1) {
  transform-origin: 36% 40%;
}
.dropdown-button path:nth-child(2) {
  stroke-dasharray: 29 299;
}
.dropdown-button path:nth-child(3) {
  transform-origin: 35% 63%;
}
.dropdown-button path:nth-child(4) {
  stroke-dasharray: 29 299;
}
.dropdown-button path:nth-child(5) {
  transform-origin: 61% 52%;
}
.dropdown-button path:nth-child(6) {
  transform-origin: 62% 52%;
}
.active path:nth-child(1) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
.active path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.active path:nth-child(3) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.active path:nth-child(5) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(6) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}

/* Layout */

.layout {
  margin-top: 3rem;
}

.layout > .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.layout--3 > .container > div:first-child {
  flex-basis: 80%;
}

.layout--3 > .container > div:last-child {
  flex-basis: 20%;
  max-width: 40rem;
  margin-left: 3rem;
}

.layout--2 > .container > div:first-child {
  flex-basis: 72%;
}

.layout--2 > .container > div:last-child {
  flex-basis: 25%;
}

/* container boxes */

.container__box {
  margin: auto;
  width: 100%;
  max-width: 48rem;
  min-height: 40rem;
  background-color: var(--primary-colour);
  border-radius: 1rem;
}

.container__boxConfirm {
  margin: auto;
  width: 100%;
  max-width: 48rem;
  min-height: 20rem;
  background-color: var(--primary-colour);
  border-radius: 1rem;
  text-align: center;
}

.container__boxTop {
  display: flex;
  align-items: center;
  border-radius: 1rem 1rem 0 0;
  padding: 1.5rem;
  background-color: var(--secondary-colour-hover);
}

.container__boxText {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.container__boxText h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: white;
}

.container__boxText svg {
  margin: auto;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  fill: white;
}

.container__boxContent {
  margin: 3rem;
}

.container__boxContent p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

@media screen and (max-width: 900px) {
  .categories {
    display: none;
  }

  .layout--3 > .container > div:first-child {
    flex-basis: 100%;
  }
}

/* forms */

.form__group {
  margin-bottom: 2rem;
  width: 100%;
}

.form__group label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form__group input,
.form__group textarea,
.form__group select {
  background: transparent;
  border: 1px solid var(--paragraph-colour);
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
  color: white;
  font-weight: 500;
  outline: none;
}

.form__group input:focus,
.form__group textarea:focus {
  border-color: var(--secondary-colour);
}

.form__group textarea {
  height: 15rem;
  resize: none;
  overflow-y: scroll;
}

.form__action {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.form__actionConfirm {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.form__action a {
  margin-top: auto;
  margin-bottom: auto;
}

/* Categories */

.categories__header {
  margin-bottom: 3rem;
}

.categories__header h2 {
  font-family: "Alegreya Sans";
  font-size: 2rem;
  letter-spacing: 1px;
}

.categories__header h2 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--primary-colour);
}

.categories__header p {
  font-weight: 500;
  color: var(--accent-colour);
}

.categories__li {
  list-style: none;
  background-color: var(--primary-colour);
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 3rem;
}

.categories__li li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  font-weight: 500;
  color: var(--secondary-colour);
  transition: all 0.4s ease-in-out;
}

.categories__li li a.active,
.categories__li li a:hover {
  color: var(--secondary-colour-hover);
  text-decoration: none;
}

.categories__li li a span {
  padding: 0.5rem 1rem;
  background-color: var(--input-colour);
  border-radius: 3px;
  font-weight: 700;
  letter-spacing: 1px;
}

/* Tickets List Header */

.ticketFeed__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.ticketFeed__header h2 {
  font-family: "Alegreya Sans";
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--primary-colour);
  letter-spacing: 1px;
}

.ticketFeed__header p {
  font-weight: 500;
  color: var(--accent-colour);
}

/* Tickets */

.ticketFeedTicket {
  margin-bottom: 3rem;
  background-color: var(--primary-colour);
  border-radius: 1rem;
  padding: 2rem;
}

.ticketFeedTicket__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticketFeedTicket__author {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ticketFeedTicket__actions {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  color: var(--paragraph-colour);
}

.ticketFeedTicket__actions a {
  color: var(--secondary-colour);
}

.ticketFeedTicket__actions span {
  font-size: 1.4rem;
  font-weight: 500;
}

.ticketFeedTicket__actions svg {
  fill: white;
  width: 1.5rem;
  height: 1.5rem;
}

.ticketFeedTicket__content {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.ticketFeedTicket__content a {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.ticketFeedTicket__meta {
  border-top: 1px solid var(--input-colour);
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ticketFeedTicket__joined {
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.ticketFeedTicket__members {
  color: var(--secondary-colour);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.ticketFeedTicket__members svg {
  fill: white;
  width: 1.5rem;
  height: 1.5rem;
}

.ticketFeedTicket__category {
  padding: 5px 1.5rem;
  background-color: var(--input-colour);
  border-radius: 5rem;
  font-weight: 500;
  font-size: 1.3rem;
}

/* login */

.login .container__boxTop {
  text-align: center;
  justify-content: center;
}

.login__register {
  margin-top: 3rem;
  text-align: center;
}

/* profile */

.profile {
  margin-bottom: 3rem;
  background-color: var(--primary-colour);
  border-radius: 1rem;
  padding: 2rem;
}

.profile__about__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.profile__about h3 {
  text-transform: uppercase;
  color: var(--secondary-colour);
}

.profile__about strong {
  font-family: "Alegreya Sans";
  font-size: 2.75rem;
  word-spacing: 0.25rem;
}

.profile-page .ticketList__top {
  margin-bottom: 1.5rem;
  color: var(--primary-colour);
}

/* ticket */

.ticket,
.members {
  display: flex;
  flex-direction: column;
  background: var(--primary-colour);
  border-radius: 0.7rem;
  position: relative;
  margin-bottom: 3rem;
}

@media screen and (max-width: 900px) {
  .members {
    display: none;
  }

  .layout--2 > .container {
    display: block;
  }
}

.ticket__top,
.members__top {
  background: var(--secondary-colour-hover);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
}

.ticket__top svg,
.comment__top svg {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.ticket__topLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ticket__topLeft h3,
.members__top {
  text-transform: uppercase;
  font-weight: 500;
  color: white;
}

.ticket__topLeft svg {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  margin: auto;
  fill: white;
}

.ticket__topRight {
  display: flex;
  justify-content: center;
  column-gap: 1em;
}

.ticket__topRight svg {
  display: block;
  margin: auto;
  fill: white;
}

.ticket__header {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 500px) {
  .ticket__header {
    top: 4rem;
    padding-right: 2rem;
  }
}

.ticket__box {
  padding-left: 2rem;
  padding-right: 2rem;
}

.ticket__details {
  display: flex;
  justify-content: space-between;
}

.ticket__details__detail {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--paragraph-colour);
}

.ticket__details h3 {
  font-size: 2.4rem;
  font-weight: 500;
}

.ticket__description {
  border-top: 1px solid var(--input-colour);
  margin-top: 1rem;
}

.ticket__description p {
  margin-top: 1rem;
}

.ticket__creator p {
  text-transform: uppercase;
  color: var(--paragraph-colour);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2;
}

.ticket__author {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}

.ticket__author:hover {
  text-decoration: underline;
}

.ticket__category {
  padding: 0.5rem 1.5rem;
  background: var(--input-colour);
  color: var(--secondary-colour);
  display: inline-block;
  font-size: 1.4rem;
  border-radius: 1.5rem;
  margin: 1rem 0;
}

.comments h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--paragraph-colour);
}

.comments {
  background: var(--input-colour);
  border-radius: 0.7rem;
  height: 100%;
  padding: 0 2rem 2rem 2rem;
}

.comment {
  padding-left: 1rem;
  margin: 2rem 0;
  padding: 2rem;
}

.comment:not(:last-child) {
  border-bottom: 2px solid var(--primary-colour);
}

.comment__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment__top svg {
  fill: white;
}

.comment__author {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.4rem;
}

.comment__authorInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.comment__details {
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.ticket__message {
  padding: 2rem;
  padding-top: 0;
  z-index: 111;
  background: transparent;
}

.ticket__message > form > input {
  resize: none;
  background-color: #002933;
  color: var(--paragraph-colour);
  border: none;
  outline: none;
  border-radius: 0 0 0.7rem 0.7rem;
  height: 4.5rem;
  width: 100%;
  margin-top: -1rem;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
}

.members__top span {
  color: var(--paragraph-colour);
  font-size: 1rem;
  text-transform: none;
}

.members__top {
  justify-content: flex-start;
  align-items: baseline;
  gap: 0.5rem;
}

.members__list {
  padding: 2rem;
}

.members__list h4 {
  padding-bottom: 1rem;
}

.member {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
