<div class="categories">
  <div class="categories__header">
      <h2>Ticket Categories</h2>
      <p>Filter by category.</p>
  </div>
  <ul class="categories__li">
    <li>
      <a href="{% url 'home' %}">View All Tickets</a>
    </li>
    {% for category in categories %}
    <li>
      <a href="{% url 'home' %}?searchQuery={{category.name}}">
        {{category.name}}
        <span>{{category.ticket_set.all.count}}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
