{% extends 'main.html' %} 
{% block content %}

<main class="layout layout--3">
    <div class="container">
      <div class="ticketFeed">
        <div class="ticketFeed__header">
          <div>
            <h2>Open Tickets</h2>
            <p>There are currently {{ticket_total}} tickets open.</p>
          </div>
          <a href="{% url 'create-ticket' %}">
            <button type="button" class="create-button">
              Create New Ticket
            </button>
          </a>
        </div>
        {% include 'base/user_tickets.html' %}
      </div>
      {% include 'base/categories.html' %}
    </div>
  </main>

  {% endblock content %}