{% extends 'main.html' %} 
{% block content %} 
<main class="login layout">
    {% if page == 'loginPage' %}
    <div class="container">
      <div class="container__box">
        <div class="container__boxTop">
          <div class="container__boxText">
            <h3>Login</h3>
          </div>
        </div>
        <div class="container__boxContent">
          <form class="form" action="" method="POST">
            {% csrf_token %}
            <div class="form__group form__group">
              <label for="room_name">Username</label>
              <input id="username" name="username" type="text" placeholder="John_Doe" />
            </div>
            <div class=" form__group">
              <label for="password">Password</label>
              <input id="password" name="password" type="password"
                placeholder="&bull;&bull;&bull;&bull;&bull;&bull;" />
            </div>
  
            <button class="create-button" type="submit" id="id_submit">Login</button>
          </form>
  
          <div class="login__register">
            <p>Haven't signed up yet?</p>
            <a href="{% url 'register' %}">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="container">
      <div class="container__box">
        <div class="container__boxTop">
          <div class="container__boxText">
            <h3>Register</h3>
          </div>
        </div>
        <div class="container__boxContent">
  
          <form class="form" action="" method="POST">
            {% csrf_token %}
  
            {% for field in form %}
            <div class="form__group form__group">
              <label for="room_name">{{field.label}}</label>
              {{field}}
            </div>
            {% endfor %}
  
            <button class="create-button" type="submit" id="id_submit">Register</button>
          </form>
  
          <div class="login__register">
            <p>Already have an account?</p>
            <a href="{% url 'login' %}">Login</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </main>
{% endblock content %}