{% extends 'main.html' %} 

{% block content %}

<main class="profile-page layout layout--2">
    <div class="container">
      <div class="ticketFeed">
        <div class="profile">
          <div class="profile__about__container">
            <div class="avatar avatar--large">
              <img src="https://picsum.photos/200" />
            </div>
            <div class="profile__about">
              {% if request.user == user %}
              <h3><strong>Your Profile</strong></h3>
              {% else %}
              <h3><strong>{{user.username}}'s</strong> Profile</h3>
              {% endif %}
              <p>Username: @{{user.username}}</p>
              <p>User id: {{user.id}}</p>
            </div>
          </div>
          <div class="profile__about">
            <h3>About {{user.username}}</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illo tenetur
              facilis sunt nemo debitis quisquam hic atque aut? Ducimus alias placeat optio
              accusamus repudiandae quis ab ex exercitationem rem?
            </p>
          </div>
        </div>

        <div class="ticketList__top">
          <div>
            {% if request.user == user %}
            <h2>Your Tickets</h2>
            {% else %}
            <h2>{{user.username}}'s Tickets</h2>
            {% endif %} 
          </div>
        </div>
        {% if tickets %}
        {% include 'base/user_tickets.html' %}
        {% else %}
        <p>No tickets yet 😢</p>
        {% endif %}
        </div>
        <div>
      {% include 'base/categories.html' %}
    </div>
    </div>
  </main>


  {% endblock content %}