{% extends 'main.html' %} 
{% block content %}

<main class="login layout">
<div class="container">
<div class="container__boxConfirm">
  <div class="container__boxTop">
    <div class="container__boxText">
      <h3>Confirmation</h3>
    </div>
  </div>
<div class="container__boxContent">
<form class="form" method="POST" action="">
  {% csrf_token %}
  <h3>Are you sure you want to delete "{{obj}}"?</h3>

  <div class="form__actionConfirm">
  <a href="{{request.META.HTTP_REFERER}}">Return</a>
  <input class="create-button" type="submit" value="Confirm" />
  </div>
</form>
</div>
</div>
</div>
</main>

{% endblock content %}
