{% extends 'main.html' %} 
{% load humanize %}
{% block content %}

<main class="profile-page layout layout--2">
    <div class="container">
      <!--Ticket-->
      <div class="ticket">
        <div class="ticket__top">
          <div class="ticket__topLeft">
            <a href="{% url 'home' %}">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>Back to home</title>
                <path
                  d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
                ></path>
              </svg>
            </a>
            <h3>Ticket {{ticket.id}}</h3>
          </div>

          <div class="ticket__topRight">
            <a href="{% url 'update-ticket' ticket.id %}">
              <svg
                enable-background="new 0 0 24 24"
                height="32"
                viewBox="0 0 24 24"
                width="32"
                xmlns="http://www.w3.org/2000/svg"
              >
                <title>Update Ticket</title>
                <g>
                  <path d="m23.5 22h-15c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h15c.276 0 .5.224.5.5s-.224.5-.5.5z" />
                </g>
                <g>
                  <g>
                    <path
                      d="m2.5 22c-.131 0-.259-.052-.354-.146-.123-.123-.173-.3-.133-.468l1.09-4.625c.021-.09.067-.173.133-.239l14.143-14.143c.565-.566 1.554-.566 2.121 0l2.121 2.121c.283.283.439.66.439 1.061s-.156.778-.439 1.061l-14.142 14.141c-.065.066-.148.112-.239.133l-4.625 1.09c-.038.01-.077.014-.115.014zm1.544-4.873-.872 3.7 3.7-.872 14.042-14.041c.095-.095.146-.22.146-.354 0-.133-.052-.259-.146-.354l-2.121-2.121c-.19-.189-.518-.189-.707 0zm3.081 3.283h.01z"
                    />
                  </g>
                  <g>
                    <path
                      d="m17.889 10.146c-.128 0-.256-.049-.354-.146l-3.535-3.536c-.195-.195-.195-.512 0-.707s.512-.195.707 0l3.536 3.536c.195.195.195.512 0 .707-.098.098-.226.146-.354.146z"
                    />
                  </g>
                </g>
              </svg>
            </a>
            <a href="{% url 'resolve-ticket' ticket.id %}">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>Delete Ticket</title>
                <path
                  d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="ticket__box">
          <div class="ticket__header">
            <div class="ticket__details">
              <div class="ticket__creator">
                <h3>{{ticket.name}}</h3>
                <p>Created by</p>
                 <a href="{% url 'profile' ticket.creator.id %}" class="ticket__author">
                 <div class="avatar avatar--small">
                   <img src="https://picsum.photos/200" />
                 </div>
                 <span>{{ticket.creator.username}}</span>
               </a>
             </div>
              <div class="ticket__details__detail">
                <p>Created {{ticket.created|naturaltime}}</p>
                <span class="ticket__category">{{ticket.category}}</span>
              </div>
            </div>
            <div class="ticket__description">
              <p>{{ticket.description}}</p>
            </div>
          </div>
          <div class="ticket__conversation">
            <div class="comments">
              {% if comments %}
              {% for comment in comments %}
              <div class="comment">
                <div class="comment__top">
                  <div class="comment__author">
                    <a href="{% url 'profile' comment.user.id %}" class="comment__authorInfo">
                      <div class="avatar avatar--small">
                        <img src="https://picsum.photos/200" />
                      </div>
                      <span>@{{comment.user}}</span>
                    </a>
                  </div>
                  <div class="ticket__details__detail">
                    {{comment.created|naturaltime}}
                    <a href="{% url 'delete-comment' comment.id %}">Delete</a>
                  </div>
                </div>
                <div class="comment__details">
                  {{comment.body}}
                </div>
              </div>
              {% endfor %}
              {% else %}
              <div class="comment">
                <div class="comment__details">
                No comments yet.
                </div> 
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="ticket__message">
          <form method="POST" action="">
            {% csrf_token %}
            {% if request.user.is_authenticated %}
            <input type="text" name="comment" placeholder="Type your comment here" />
            {% else %}
            <input disabled placeholder="Please Sign In to add a comment."></input>
            {% endif %}
          </form>
        </div>
      </div>

      <!--Members-->
      <div class="members">
        <h3 class="members__top">Members <span>Currently {{ticket.members.all.count}} members</span></h3>
        <div class="members__list">
        <h4>Creator</h4>
        <a href="{% url 'profile' ticket.creator.id %}" class="member">
            <div class="avatar avatar--small">
              <img src="https://picsum.photos/200" />
            </div>
              {{ticket.creator.username}}
          </a>
        {% if staff %}
        <h4>Staff</h4>
                <a href="{% url 'profile' staff.id %}" class="member">
                    <div class="avatar avatar--small">
                    <img src="https://picsum.photos/200" />
                    </div>
                    {{staff.username}}
                </a>
        {% endif %}
        {% if contributor %}
        <h4>Contributors</h4>
            <a href="{% url 'profile' contributor.id %}" class="member">
              <div class="avatar avatar--small">
              <img src="https://picsum.photos/200" />
              </div>
              {{contributor.username}}
          </a>
        {% endif %}
    </div>
  </main>

{% endblock content %}