{% extends 'main.html' %}
{% block content %}
<main class="create-room layout">
    <div class="container">
      <div class="container__box">
        <div class="container__boxTop">
          <div class="container__boxText">
            <a href="{% url 'home' %}">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>Back to home</title>
                <path
                  d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                </path>
              </svg>
            </a>
            <h3>Create New Ticket</h3>
          </div>
        </div>
        <div class="container__boxContent">
          <form class="form" method="POST" action="">
            {% csrf_token %}
            <!-- sends token with every POST request, prevents cross-site
            forgery attacks -->

            <div class="form__group">
                <label for="ticket_category">Ticket Category*</label>
                <input required type="text" name="category" value="{{ticket.category.name}}" list="category-list" />
                <datalist id="category-list">
                    <select id="ticket_category">
                        {% for category in categories %}
                        <option value="{{category.name}}">{{category.name}}</option>
                        {% endfor %}
                    </select>
                </datalist>
                <p>{{form.category.help_text}}</p>
              </div>
 
            <div class="form__group">
              <label for="room_name">Ticket Summary*</label>
                {{form.name}}
                <p>{{form.name.help_text}}</p>
            </div>

            <div class="form__group">
                <label for="room_description">Ticket Description*</label>
                {{form.description}}
                <p>{{form.description.help_text}}</p>
              </div>

            <div class="form__action">
              <a href="{% url 'home' %}">Cancel</a>
              <button class="create-button" type="submit">Submit Ticket</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  {% endblock %}